*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: 0 auto;
  }
  
  .navbar{
    width: 100%;
    height: 80px;
    background-color: #01061d;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar .logo{
   color: white;
   font-size: 28px;
   font-weight: 600;
  }
  .navbar .links{
    color: white;
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  
  .navbar .links li{
    margin: 0 15px ;
    font-size: 20px;
    font-weight: 600;
  }
  .navbar .links li:hover{
    color: rgb(245, 115, 137);
    transition: 0.5s ease-in-out;
  }
  .navbar .toggle{
    display: none;
  }
  
  @media (max-width:768px){
    .navbar{
      position: relative;
      transition: 0.5s height ease-in-out;
    }
    .navbar.expanded{
      height: 100vh;
    }
    .navbar.expanded .links{
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar.expanded .links li{
      margin: 15px 0;
      font-size: 28px;
    }
    .navbar .logo{
      position: absolute;
      top: 23px;
      left: 20px;
    }
    .navbar .toggle{
      display: block;
      position: absolute;
      top: 28px;
      right: 20px;
      color: white;
    }
    .navbar .links{
      display: none;
    }
  }
  
  